# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    tags:
      - 'v*.*.*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3

      - name: Add the dependencies to the runner
        run: |
          just install-caifs
          just install-caifs-runner-deps

      - name: Create a release tar
        id: release
        run: |
          just create-release-tar
          just list-release-tar-files

      - name: Create GitHub Release and upload assets
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: release.tar.gz
        env:
          # GITHUB_TOKEN is a built-in secret with the required permissions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
